bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
published*/
.idea
MeshtasticMqttExplorer/appsettings.Production.json
MeshtasticMqttExplorer/appsettings.Production.Gaulix.json
MeshtasticMqttExplorer/wwwroot/mymap.pmtiles
Recorder/appsettings.Production.json
MqttRouter/appsettings.Production.json
MqttRouter/appsettings.Production.Gaulix.json
Worker/appsettings.Production.json
Worker/appsettings.Production.Gaulix.json

docker/mosquitto/data/*
docker/mosquitto/log/*
docker/database/*