.ant-page-header {
    margin-bottom: 20px !important;
}

.ant-page-header-heading-left {
    flex-wrap: wrap;
}

.ant-layout-sider-zero-width-trigger {
    top: -40px;
    left: -10px;
}

.ant-page-header-heading-extra,
.ant-page-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.ant-tag {
    margin-bottom: 5px;
}

.ant-segmented-item-label {
    white-space: normal;
}

.leaflet-container a {
    word-wrap: break-word;
}

@media screen and (max-width: 576px) {
    td.ant-table-cell:first-child {
        background-color: #d0d0d0 !important;
    }
    
    .leaflet-popup {
        max-width: 200px;
    }
}