<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="/tmp/internal-nlog.txt">
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.Targets.Seq"/>
    </extensions>

    <targets async="true">
        <target xsi:type="Console" name="console" layout="${longdate}|ReqId=${aspnet-TraceIdentifier}${uppercase:${level}}|${logger}|${message} ${aspnet-request-posted-body}|${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=tostring}${newline}}" />

        <target name="seq" xsi:type="Seq" serverUrl="http://seq:5341" apiKey="yM4RntnP9g1boEQ2uv6W">
            <property name="Logger" value="${logger}" />
            <property name="RequestId" value="${aspnet-TraceIdentifier}" />
        </target>
    </targets>

    <rules>
        <!-- <logger name="Microsoft.AspNetCore.Hosting*" writeTo="console" final="true" /> -->
        <logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true"  />
        <logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Warn" final="true" />

        <logger name="*" minlevel="Warn" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="seq" />
    </rules>
</nlog>