@inject IMessageService MessageService;

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="_content/AntDesign/css/ant-design-blazor.css?=@Version" rel="stylesheet" />
    <link rel="stylesheet" href="MeshtasticMqttExplorer.styles.css?=@Version"/>
    <link rel="stylesheet" href="styles/styles.css?version?=@Version"/>
    <link rel="stylesheet" href="styles/leaflet_1.9.4.css" />
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<Routes @rendermode="InteractiveServer" />
<AntContainer @rendermode="InteractiveServer" />
<script src="_framework/blazor.web.js?=@Version"></script>
<script src="_content/AntDesign/js/ant-design-blazor.js?=@Version"></script>
<script src="_content/AntDesign.Charts/ant-design-charts-blazor.js?=@Version"></script>
<script src="scripts/g2plot_1.1.28.js"></script>
<script src="scripts/leaflet_1.9.4.js" crossorigin=""></script>
<script src="scripts/protomaps-leaflet_3.1.2.js"></script>
<script src="scripts/script.js?=@Version"></script>
<script src="scripts/osm.js?=@Version"></script>
</body>

</html>

@code {
    private string? Version { get; set; }
    
    protected override void OnInitialized()
    {
        Version = GetType().Assembly.GetName().Version?.ToString();
        
        MessageService.Config(new MessageGlobalConfig {
            Duration = 2000
        });
        
        base.OnInitialized();
    }

}